@import '../../styles/tokens.css';

.tags-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Variante Small */
.tags-list--small {
  gap: var(--spacing-s, 4px);
}

/* Variante Medium */
.tags-list--medium {
  gap: var(--spacing-m, 8px);
}
